*{
    font-family: '微软雅黑'
}
.marginee{
    margin-top: 50px;
}
.dfgsjrj{
    font-size: 0px;
}
.jwijjig{
    width: 100%;
  
    
}
.jwijjig a{
    width: 100%;
    height: 100%;
    display: inline-block
}
.jwijjig img{
    width: 100%;
    height: 100%;
    
}