*{
    font-family: '微软雅黑'
}
.dfsnj{
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-family: '微软雅黑';
    z-index: 889;
}
.dfewrwg{
    margin: 0px;
}
.disno{
    display: none !important;
}
.ioeijgw{
    width: 100%;
  min-height: 40px;
  text-align: center;
    line-height:40px;
}
.girjogior{
    width: 100%
}
.dgasgsg1 ,.dgasgsg2 ,.dgasgsg3{
    margin: 0px;
    border-radius: 0px;
}
.jdfoijwoig{
    margin-bottom: 60px;
}
.ioeijgw img{
    width: 100%;
}